<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap File -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- JQuery File -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>Eat Da Burger</title>
</head>
<body>
	<div class="container-fluid">	
		{{{ body }}}
	</div>

	<script type="text/javascript">
	    function concatValues(value1, value2)
	    {
	        var retConcatValue = $(".burger-to-be-devoured")val(value1 + ". " + value2);
	        return retConcatValue;
	    }
	</script>
</body>
</html>